.container{
    width: 1280px;
    margin: 0 auto;
    font-family:Roboto;
          }

.logotup{
    text-decoration: none;
    margin: 60px 0 40px;
    font-size: 70px;
    font-family:Roboto;
    color: rgb(142, 210, 241);
        }

.logotuo-text{
    color: black;
             }

nav {
    background-color:rgb#526470;
    display: flex;
    }

.meny-list{
    margin: 30px 0 30px;
    list-style-type: none;
    display: flex;
    justify-content:center;
    background-color: #35444F;
          }

.meny-text:hover{
     background-color:#222F3A ;
                }

.meny-iten{
    border-left: 1px solid white;
          }

.meny-iten:last-child{
    border-right: 1px solid white;
                     }

.meny-text{
    padding: 24px 18px;
    color:#FFFFFF;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
          }

.container-center{
    display: flex;
    justify-content:space-between;
    gap: 30px;
                 }

.inen-left:hover{
    background: #DBDBDB;
    color: #000000;
                }

.text-left:hover{
    color: #000000;
    transform:translate(40px,0);
                }

.meny-left{
    border: 1px solid rgb(5, 5, 5);
    width: 330px;
          }

.text-left{
    display: flex;
    justify-content: left;
    padding: 25px;
    font-size: 25px;
    text-decoration: none;
    color: #495863;
          }

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
     }

.img-goat {
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 380px;
    padding: 75px 297px;
    margin: 0 0 50px 0;
          }

.under-goat{
   margin: 0 0 30px 0;
           }

.text-under-goat{
 font-size: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
                }

.copyright{
     background-color:rgb(99, 105, 110, 0.48);
     display: flex;
     justify-content:space-around;
     font-size: 25px;
     padding: 20px 21px;
     text-align: center;
          }

       .under-text:hover{
        text-decoration:underline;
        color:#3181A6 ;
        text-underline-offset: 13px
                        }

       .meny-under{
        display: flex;
        justify-content:center;
                  }

       
       .under-text{
        display: flex;
        justify-content:center;
        color: #0C1927;
        font-family: Roboto;
        text-decoration: none;
       }

     .inen-under{
        margin: 0 20px;
        color: #0C1927;
                }




